body {
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(#a1c4fd,#c2e9fb);
}

.sun { position:absolute; top:20px; right:30px; font-size:50px; }

.cloud {
    position:absolute;
    width:100px;
    height:50px;
    background:white;
    border-radius:50px;
}

.cloud1 { top:50px; left:30px; }
.cloud2 { bottom:50px; right:30px; }

.card {
    background:white;
    padding:20px;
    border-radius:20px;
}

li {
    list-style:none;
    margin:10px 0;
    padding:10px;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
}

.belum { background:#ffe0e0; }
.proses { background:#fff3cd; }
.selesai { background:#d4edda; }